@use 'styles/_mixins.scss' as *;
@use 'styles/_functions.scss' as f;

$grid-gap: var(--space-l);
$container-width: 1240px;

.productPage {
    .infoProduct {
        max-width: 653px;
        margin: f.rem(100) auto f.rem(50);
        min-height: auto;
    }

    .searchProduct {
        display: flex;
        flex-direction: column;
        max-width: $container-width;
        margin: 0 auto;

        .search {
            margin-bottom: f.rem(35);
        }

        .productGrid {
            display: grid;
            gap: $grid-gap;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;

            @include respond-down("laptop") {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .pagination {
        margin: f.rem(70) auto f.rem(118);
    }
}