@use 'styles/_mixins.scss' as *;

.infoProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
  height: 128px;
  text-align: center;

  .title {
    @include fluid-text(28, 44);
    line-height: 1.1;
  }

  @include respond-down("tablet") {
    display: none;
  }
}