@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;
@use 'styles/functions' as f;

$container-width: 1240px;

.productPage {
    width: 100%;
    overflow-x: hidden;

    .virtualizedList {
        outline: none;
    }

    .infoProduct {
        max-width: 653px;
        margin: f.rem(100) auto f.rem(50);
        min-height: auto;
    }

    .searchProduct {
        display: flex;
        flex-direction: column;
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 f.rem(16);

        .search {
            margin-bottom: f.rem(35);
        }

        .listWrapper {
            width: 100%;
        }
    }

}