@use 'styles/functions' as f;

$breakpoints: (
        "desktop-md": 1440px,
        "laptop": 1024px,
        "tablet": 768px,
        "mobile": 450px,
);

@function fluid-calc($min, $max) {
  @return calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 320px) / (1440 - 320)));
}

@mixin _adaptive-value($property, $min, $max) {
  #{$property}: clamp(#{$min}px, calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 320px) / (1440 - 320))), #{$max}px);
}

@mixin adaptive-font($min-size, $max-size) {
  @include _adaptive-value(font-size, $min-size, $max-size);
}

@mixin adaptive-lh($min-lh, $max-lh) {
  @include _adaptive-value(line-height, $min-lh, $max-lh);
}

@mixin respond-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($value - 0.02px)) {
      @content;
    }
  }
}

@mixin fluid-text($min-size, $max-size, $min-breakpoint: 320, $max-breakpoint: 1440) {
  $slope: ($max-size - $min-size) / ($max-breakpoint - $min-breakpoint);
  $y-axis-intersection: -$min-breakpoint * $slope + $min-size;

  font-size: clamp(#{$min-size}px, #{$y-axis-intersection / 16}rem + #{$slope * 100}vw, #{$max-size}px);
}

@mixin adaptive-margin($top, $right, $bottom, $left) {
  $min-t: $top * 0.1;
  $min-r: $right * 0.1;
  $min-b: $bottom * 0.4;
  $min-l: $left * 0.01;

  margin:
          clamp(f.rem($min-t), fluid-calc($min-t, $top), f.rem($top))
          clamp(f.rem($min-r), fluid-calc($min-r, $right), f.rem($right))
          clamp(f.rem($min-b), fluid-calc($min-b, $bottom), f.rem($bottom))
          clamp(f.rem($min-l), fluid-calc($min-l, $left), f.rem($left));
}

@mixin adaptive-gap($max-size, $min-size: 8) {
  gap: clamp(f.rem($min-size), 4vw, f.rem($max-size));
}

@include respond-down("laptop") {
  :root {
    $space-xl: 32px;
    $space-l: 24px;
    $space-m: 20px;
  }
}

@include respond-down("tablet") {
  :root {
    $space-xl: 24px;
    $space-l: 20px;
    $space-m: 16px;
    $space-s: 12px;
    $space-xs: 8px;
  }
}