@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;
@use 'styles/functions' as f;

.cartContainer {
  display: flex;
  flex-direction: column;
  margin-top: $space-xl;
  gap: $space-l;
  @include container-layout;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: $space-xl;
  width: 100%;

  @include respond-down("tablet") {
    flex-direction: column;
  }
}

.itemsList {
  width: 100%;
  cursor: pointer;
}