@use 'styles/mixins' as *;
@use 'styles/variables.scss' as *;

.card {
  background-color: $card-bg;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;

  &:hover {
    box-shadow: $shadow;
  }

  &--clickable {
    cursor: pointer;
  }
}

.cardHeader {
  display: flex;
  width: 100%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  overflow: hidden;
  background-color: $card-image-bg;
  position: relative;
}

.cardImage {
  width: 100%;
  object-fit: cover;
  display: block;
}

.cardBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: $space-xl;
}

.cardBodyMain {
  padding: 0 $space-xs $space-l $space-xs;
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-top: auto;
  padding-left: $space-xs;
  padding-right: $space-xs;
  padding-bottom: $space-xl;
}
