@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.multi-dropdown__options {
  background-color: $dropdown-options-bg;
  margin-top: $space-xxs;
  width: 100%;
  box-shadow: $shadow;
  font-family: 'Roboto', sans-serif;

  &.view_p-16 {
    @include adaptive-font(14, 16);
    @include adaptive-lh(18, 20);
  }
}

.multi-dropdown__item {
  height: 48px;
  display: flex;
  align-items: center;
  padding: $space-s $space-xs;

  &:hover {
    color: $text-secondary;
  }

  &--selected {
    &,
    &:hover {
      color: $brand;
    }
  }
}
